In [54]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("./exercise_data/chipotle.tsv",sep='\t')
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [6]:
data.shape[1]

5

In [9]:
data.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [14]:
data.index

RangeIndex(start=0, stop=4622, step=1)

In [28]:
c = data[['quantity','item_name']].groupby('item_name',as_index=False).sum()
c.sort_values('quantity',ascending=False,inplace=True)
c.head()

              item_name  quantity
17         Chicken Bowl       761
18      Chicken Burrito       591
25  Chips and Guacamole       506
39        Steak Burrito       386
10    Canned Soft Drink       351

In [38]:
res = data['item_name'].unique()  # nunique 直接返回 len(res)
len(res)  # 等同于xxx.nunique()

50

In [64]:
res = data['choice_description'].dropna()
res.value_counts().head(5)

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

In [65]:
orders = data['quantity'].sum()
orders

4972

### 下面这个要记住 常用

In [70]:
money = lambda x: float(x[1:-1])
data['item_price'] = data['item_price'].apply(money)
data['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
5       10.98
6        1.69
7       11.75
8        9.25
9        9.25
10       4.45
11       8.75
12       8.75
13      11.25
14       4.45
15       2.39
16       8.49
17       8.49
18       2.18
19       8.75
20       4.45
21       8.99
22       3.39
23      10.98
24       3.39
25       2.39
26       8.49
27       8.99
28       1.09
29       8.49
        ...
4592    11.75
4593    11.75
4594    11.75
4595     8.75
4596     4.45
4597     1.25
4598     1.50
4599     8.75
4600     4.45
4601     1.25
4602     9.25
4603     9.25
4604     8.75
4605     4.45
4606     1.25
4607    11.75
4608    11.25
4609     1.25
4610    11.75
4611    11.25
4612     9.25
4613     2.15
4614     1.50
4615     8.75
4616     4.45
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [74]:
# 计算收入   价格 * 数量
data['revenue'] = data['quantity'] * data['item_price']
data['revenue'].sum()

39237.02

In [75]:
data['order_id'].nunique()

1834

In [80]:
res = data['revenue'].groupby(data['order_id']).sum().mean()
res

21.39423118865867

In [83]:
data['item_name'].nunique()

50